.App {
  text-align: center;
}



input, select {
  border-radius: 8px;
  height: 35px;
  outline: 0;
  border-color: #cccccc;
  margin-bottom: 10px;
  width: 250px;
  text-align: center;
  font-size: large;
}

button {
  height: 35px;
  background: #234974 0% 0% no-repeat padding-box;
  box-shadow: rgb(231, 222, 222) 0px 3px 6px, rgb(156, 146, 146) 0px 3px 6px;
  opacity: 1;
  border: none;
  height: 30px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  transform: translate(3px, 3px);
  transition-duration: 1500ms;
}

button:disabled {
  pointer-events: auto! important;
     cursor: not-allowed! important;
}